.crossLinks {
  margin-top: 1rem;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1rem;
}

@media (max-width: 767px) {
  .crossLinks {
    grid-template-columns: minmax(0, 1fr);
  }

  .crossLinks > :empty {
    display: none;
  }
}
